CHAIN=solana
DEXSCREENER_NEW_PAIRS_URL=https://dexscreener.com/new-pairs/solana?rankBy=pairAge&order=asc
DATABASE_PATH=:memory:
BROWSER_CHALLENGE_TIMEOUT_SECONDS=90
DISCOVERY_INTERVAL_SECONDS=1.5
ONE_MIN_VOLUME_THRESHOLD=5000
FIVE_MIN_VOLUME_THRESHOLD=10000
ONE_HOUR_VOLUME_THRESHOLD=100000
ONE_MIN_POLL_SECONDS=3
FIVE_MIN_POLL_SECONDS=5
ONE_HOUR_POLL_SECONDS=15
QUALIFIED_REFRESH_SECONDS=5
RVOL_1M_POLL_SECONDS=6
RVOL_5M_POLL_SECONDS=15
RVOL_1H_POLL_SECONDS=30
CHART_REQUESTS_PER_SECOND=3
CHART_CONCURRENCY=2
API_REQUESTS_PER_SECOND=4
